# Prevent script execution in uploads directory
<Files "*.php">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.php3">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.php4">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.php5">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.phtml">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.pl">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.py">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.jsp">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.asp">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.sh">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.cgi">
    Order Deny,Allow
    Deny from all
</Files>
